<!-- 
Edited by I Kade Hendrick Putra Kurniawan
On September 4th 2018
-->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<!-- Head of the HTML -->
<head>
    <meta charset="UTF-8">
    <title> PROFIL </title> <!-- Title of the webpage --> 
    <link rel = "stylesheet" href = "{% static "styling.css" %}"> <!-- connecting to the css -->
</head>

<!-- Body of the HTML -->
<body>
    

    <img src ="https://image.ibb.co/ji2HZe/rsz_hendrick_4x6.jpg" alt = "Hendrick Foto" title = "Hendrick" class = "center"> <!-- img source -->
    <br>
    <br>
    <article>Name : {{name}}</article>
    <br>
    <article>Age : {{age}} </article> 
    <br>
    <article>NPM :  {{npm}} </article>
    <br>
    <article>College : {{college}}</article>
    <br>
    <article>Hoby : {{hoby}} </article>
    <br>
    <article>Description : {{description}}</article>
    <br>
    <br>

    <img src = "https://media.licdn.com/dms/image/C5603AQE2_2gQuasmpw/profile-displayphoto-shrink_200_200/0?e=1539216000&v=beta&t=N5taAG4kPBI32JEwhPf2seboY1LHvxz3GE8eCZZXssE" alt = "Adisurya Foto" title ="Adisurya" class = "center">
    <br>
    <br>
    <article>Name : I Made Adisurya Nugraha</article>
    <br>
    <article>Age : 19 </article> 
    <br>
    <article>NPM :  1706984625 </article>
    <br>
    <article>College : Universitas Indonesia </article>
    <br>
    <article>Hoby : Bermain musik, berolahraga, belajar </article>
    <br>
    <article>Description : Seorang mahasiswa Fasilkom UI 2017 yang ingin belajar PPW </article>
    <br>
    <br>

    <img src = "https://lh3.googleusercontent.com/-nX7yiW3_0pA/W45pT1xwpbI/AAAAAAAAAUo/Ru5MqEWGtzMIQ3VVHBsIIL3FaOpzc90_QCJoC/w530-h795-n-rw/4x6.jpg" alt = "GedeIndra Foto" title = "GedeIndra" class = "center">
    <br>
    <br>
    <article>Name : Gde Indra Raditya Nugraha </article>
    <br>
    <article>Age : 19 </article> 
    <br>
    <article>NPM :  1706984606 </article>
    <br>
    <article>College : University of Indonesia </article>
    <br>
    <article>Hoby : Basketball </article>
    <br>
    <article>Description : A Balinese people,who loves sport and gaming </article>
    <br>
    <br>

</body>

</html>
