body {
	background-color: powderblue;
}

img {
	display : block;
	margin-left: auto;
	margin-right: auto;
	width : 200px;
	height : 300px;
}

article {
	font-size: 20pt;
	font-family: arial;
	text-align : center;
}

